{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}

{{ if .Params.toc }}
<aside class="toc">
  {{ with .TableOfContents }}
  {{ . | markdownify | safeHTML }}
  {{ end }}
{{ end }}
</aside>

<article>
<h1 style="font-size: 40px;">{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
  <content>
  {{ .Content | safeHTML }}
  </content>
</article>
{{ end }}
